.section-topbar {
    // Var
    $white-color: #f3f3f3;
    $red-color: #ec1616;
    $border-color: #dd0000;

    $btn-red: #ff0b0b;
    $btn-red-hover: #f10707;
    $btn-red-active: #dd0000;

    padding: 0 0.8em;
    background: $red-color;
    display: flex;
    flex-direction: column;
    color: $white-color;
    
    // container up - title and config
    .container-title-config {
        margin: 0.4em 0 0;
        display: flex;
        justify-content: space-between;

        .container-title {
            display: flex;
            font-family: Montserrat, Mulish, Arial, Helvetica, sans-serif;
            font-size: 2em;
            font-weight: 700;
            gap: 0.3em;
    
            i, h1 { margin: auto 0 }
        }
    
        .container-btn-config {
            display: flex;
            font-size: 1.5em;
            margin: auto 0;
        }
    }

    // container down - input link
    .container-input-link {
        display: flex;
        justify-content: center;
        padding: 0em 0 0.6em;
        
        input {
            background-color: $white-color;
            border-radius: 6px 0 0 6px;
            border: 1px $border-color solid;
            border-right: 0px;
            color: #1a1a1a;
            padding: 4px 8px;
            width: 24em;
        }
    
        button {
            background-color: $btn-red;
            border-radius: 0 6px 6px 0;
            border: 1px $border-color solid;
            border-left: 0px;
            cursor: pointer;
            padding: 0 0.8em;
            transition: background-color 0.2s;
    
            &:hover { background-color: $btn-red-hover }
            &:active { background-color: $btn-red-active }
    
            i {font-size: 1.3em;}
        }
    }
}