.section-title {
    font-size: 2em;
    display: flex;
    gap: 0.3em;
    font-weight: 700;
    font-family: Montserrat, Mulish, Arial, Helvetica, sans-serif;

    i, h1 {
        margin: auto 0;
    }
}